
h1{color:#390099}
body{
    font-family:monospace;
    background-color: #FF0054;
    color:#9E0059;
    margin: 0;}

header{
    background-color:#FF5400;
    color:white;
    text-align: center;
    padding: 20px;
}

img{
    border-radius: 50%;
    border: 5px solid white;
}